
@property --deg-in {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}


@property --deg-out {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}


.loading-tri-circular.center {
    --size: 30vmin;
    position: absolute;
    margin: calc((100vh - var(--size)) / 2) calc((100vw - var(--size)) / 2);
    opacity: 0.8;
}


.loading-tri-circular.main-inline {
    --size: 20vmin;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
}


.loading-tri-circular {
    --color: var(--main-color);
    --size: 50vmin;
    --border: 10%;
    --duration: 3s;
    --state: running;
    
    width: var(--size);
    aspect-ratio: 1/1;
    border-radius: 50%;

    --border-in: calc(100% - (var(--border)) * 3);
    --border-out: calc(100% - (var(--border)) * 4);
    --radial-size: circle calc(var(--size) / 2);
    
    background-image: radial-gradient(var(--radial-size), #0000 var(--border-out), var(--color) var(--border-out), var(--color) var(--border-in), #0000 var(--border-in), #0000);
    --mask-radial: radial-gradient(var(--radial-size), #0000 var(--border-in), #fff var(--border-in) , #fff);
    --mask-conic: conic-gradient(from var(--deg-out) at 50% 50%, #fff var(--deg-in), #0000 0deg);
    -webkit-mask-image: var(--mask-radial), var(--mask-conic);
            mask-image: var(--mask-radial), var(--mask-conic);
    animation: loading-tri-circular var(--duration) ease-in-out 0s infinite forwards var(--state);
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate(120deg);
        background-image: conic-gradient(from var(--deg-out) at 50% 50%, var(--color) var(--deg-in), #0000 0deg);
        --mask-radial: radial-gradient(var(--radial-size), #0000 calc(100% - var(--border)), #fff calc(100% - var(--border)), #fff 99.9%, #0000 99.9%, #0000);
        -webkit-mask-image: var(--mask-radial);
                mask-image: var(--mask-radial);
        animation: loading-tri-circular var(--duration) ease-in-out 0s infinite forwards var(--state);
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate(240deg);
        background-image: conic-gradient(from var(--deg-out) at 50% 50%, var(--color) var(--deg-in), #0000 0deg);
        --mask-radial: radial-gradient(var(--radial-size), #0000 calc(100% - (var(--border)) * 2.5), #fff calc(100% - (var(--border)) * 2.5), #fff calc(100% - (var(--border)) * 1.5), #0000 calc(100% - (var(--border)) * 1.5), #0000);
        -webkit-mask-image: var(--mask-radial);
                mask-image: var(--mask-radial);
        animation: loading-tri-circular var(--duration) ease-in-out 0s infinite forwards var(--state);
    }
}


@keyframes loading-tri-circular {
    0% {
        --deg-in: 0deg;
        --deg-out: 0deg;
    }
    50% {
        --deg-in: 360deg;
        --deg-out: 0deg;
    }
    100% {
        --deg-in: 0deg;
        --deg-out: 360deg;
    }
}

