
@use 'partials/config';
@use 'partials/symbols';
@use 'partials/loading';
@use 'partials/submit';
@use 'partials/cardgrid';


body.dark {
    #title img[src*="logo-textless"],
    div.breadcrum-logo {
        filter: invert(100%);
    }
}


hr {
    margin-left: -25px;
    margin-right: -25px;
}






